body
{
	margin: 0 auto;
}

.header
{
	height: 90px;
	background-color: #2C3E50;
}

.header-container
{
	margin-right: 65px;
	margin-left: 65px;
	display: flex;
	justify-content: space-between;
}

.nav
{
	height: 90px;
	display: flex;
	align-items: center;
}

.nav-container
{
	display: flex;
	justify-content: center;
	height: 90px;
}

.nav-btn
{
	margin-right: 22px;
	margin-left: 22px;
	display: flex;
	align-items: center;
	
}

.nav-btn:hover
{
	border-bottom: 7px solid #7F8C8D;
	transition: 300ms;
}

.nav-btn a
{
	text-decoration: none;
	color: #ECF0F1;
	font-size: 24px;
	font-family: Raleway;
	font-weight: 300;
}

.nav-btn[target]
{
	border-bottom: 7px solid #7F8C8D;
	padding-top: 7px;
}

.profile
{
	display: flex;
	align-items: center;
}

.profile-container
{
	display: flex;
}

.btn-profile, .btn-profile2
{
	width: 128px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 15px;
}

.btn-profile
{
	border: 1px solid #ECF0F1;
	margin-right: 38px;
}

.btn-profile2
{
	background-color: #1ABC9C;
}

.btn-profile2 a, .btn-profile a
{
	color: #ECF0F1;
	font-size: 16px;
	text-decoration: none;
	font-weight: 300;
	font-family: Raleway;
}

.logo
{
	display: flex;
	align-items: center;
}

.logo-container
{
	display: flex;
	align-items: center;
}

.logo-name p
{
	color: white;
	font-weight: bold;
	font-size: 24px;
	font-family: Oswald;
}

.logo-name
{
	margin-left: 25px;
}

.main-container
{
	margin-left: 150px;
	margin-right: 150px;
	display: flex;
	align-items: center;
	color: #2C3E50;
	justify-content: space-between;
	width: 100%;
}

.left-main
{
	max-width: 520px;
}

.left-main h1
{
	font-family: Raleway;
	font-size: 66px;
	font-weight: bold;
}

.left-main p
{
	font-size: 18px;
	font-family: Lato;
}

.main
{
	display: flex;
	align-items: center;
	height: calc(100vh - 90px);
}

.search-bar
{
	display: flex;
}

.search-bar button
{
	background-color: #1ABC9C;
	border: none;
	width: 56px;
	cursor: pointer;
}

.search-bar input
{
	width: 100%;
	height: 56px;
	color: #2C3E50;
	background-color: #ECF0F1;
	font-size: 24px;
	border: none;
	padding-left: 24px;
}